:root {
  --primary: #7b09b2;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #7b09b2;
  color: white;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: #7b09b2;
  color: white;
  text-shadow: 1px 2px 4px black;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}
.btn--outline2 {
  margin-right: 10px;
  border: 2px solid black;
  background-color: #ffffff;
  color: #7b09b2;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
  text-shadow: none;
}
