
.contact-image{
    width:500px ;
    height: 460px ;
}

.button-submit{

    color: #fff;
    background-color: #7b09b2;
    font-size: 20px;
    outline: none;
    border: none;
    width: 30%;
    transition: .4s all;

}

.button-submit:hover{

    color: #7b09b2;
    background-color: white;
    border: 1px solid #7b09b2;

}

.main-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.image{
    width: 40%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
}

.contact-div{
    width: 40%;
    /* margin: auto; */
    padding: 10px;
    background-color: white;
    /* border: 4px solid #7b09b2; */
    
}

.input-file{
    border-radius: 0px;
    background: white;
    box-shadow: 2px 2px 4px rgb(172, 172, 172);
    border: 1px solid rgb(172, 172, 172);
    font-size: 16px;
    outline: none;
}

.email-password-input{
    border-radius: 0px;
    box-shadow: 3px 3px 4px rgb(207, 207, 207);
    height: 45px;
}

.desc-input{
    border-radius: 0px;
    box-shadow: 3px 3px 4px rgb(207, 207, 207);
    /* height: 80px; */
}

/* .input-file:hover{
    cursor: pointer;
} */

::-webkit-file-upload-button{
    color: #7b09b2;
    background-color:white;
    padding: 12px;
    border: none;
    border-radius: 0px;
    box-shadow: 1px 0px 1px 1px #7b09b2;
    outline: none;
}

::-webkit-file-upload-button:hover{
    cursor: pointer;
    background-color:#7b09b2;
    color: white;
    
}

.form-control:focus {
    border-color: #a943d4;
    box-shadow: inset 0 1px 1px #ffffff, 0 0 8px #a943d4;
  }


  @media only screen and (max-width: 600px) {
    
    .main-div{
        height: auto;
        width: 100%;
        align-items: center;
    }

    .image{
       width: 100%;
        
    }

    .contact-image{
        width: 400px;
        height: 400px;
    }

    .contact-div{
       width: 100%;
       /* margin-bottom: 800px; */
       margin-top: 400px;
    }
}