
.name{
  font-size: 18px;
}

.main-div{
  display: flex;
  margin-right: 50px;
  justify-content: right;
}

.login-name{
  color: white !important;
  background-color: #7b09b2 !important;
  outline: none;
  border: none;
  margin-right: 20%;
}

.item-name{
  color: #7b09b2;
}

.navbar2 {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: right;
}

/* .nav-image2{
    width: 30%;
    height: 100%;
    margin-left: 40%;
    background-color: #142baf;
    display: none;
} */

.main-heading{
  color: white;
  margin-left: 40%;
  line-height: 80px;
  font-size: 85px;
}

.menu-bars2 {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu2 {
  background-color: #060b26;
  width: 250px;
  height: 110vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

.nav-menu2.active {
  left: 0;
  transition: 350ms;
}

.nav-text2 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text2 a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text2 a:hover {
  background-color: #1a83ff;
}

.nav-menu-items2 {
  width: 100%;
}

.navbar-toggle2 {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.search-product{
  margin-left: 20%;
  margin-top: 100px;
}


.search-button{
  color: white;
  padding: 7px 22px;
  background-color: #7b09b2;
  border: none;
  margin-left: 20px;
  box-shadow: 1px 2px 4px gray;
}

.search-button:hover{
  background-color: white;
  color: #7b09b2;
  border: 1px solid #7b09b2;
  transition: .3s all;
}

.output{
  margin-left: 20%;
  margin-top: 50px;
}