
.standard-card{
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 5px;
    transition: .5s all;
}

.standard-card:hover{
    box-shadow: 5px 10px 10px rgb(192, 192, 192);
}

.standard-card:hover .buy-button{
    background-color: #7b09b2;
    color: white;
}

.card-title{
    color: #7b09b2;
    font-size: 25px;
}

.currency{
    font-size: 30px;
}

.card-pricing{
    color: black;
    font-size: 25px;
}

.buy-button{
    width: 60%;
    background-color: #fff;
    color: #7b09b2;
    border: 1px solid #7b09b2;
    transition: .6s all;
    border-radius: 5px;
}

.buy-button:hover{
    width: 85%;
    background-color: #7b09b2;
    color: #fff;
    border: 1px solid #7b09b2;
    opacity: .9;
}


@media screen and (max-width: 411px){
    
    .standard-card{
        margin-left: 35px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 375px){
    
    .standard-card{
        margin-left: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 320px){
    .standard-card{
        width: 17rem !important;
        margin-left: 10px;
    }
}